html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "PingFangSC-Regular";
}

.submitover {
	width: 5.8rem;
	height: .8rem;
	margin: 0 auto;
	margin-top: .4rem;
}
ul{
	margin: 0;
	padding: 0;
}
.submitover button {
	width: 100%;
	height: 35px;
	background: #0099FF !important;
	border: 0 !important;
	padding: 0;
	margin: 0;
}

.submitover button:active {
	background: #0066C5 !important;
}

.hear_title {
	color: #333333 !important;
}

.hear-line {
	position: fixed;
	top: 44px;
	z-index: 999;
}

.mui-content,
.header-bg {
	width: 100%;
}

.header-bg {
	background: #FFFFFF;
}

.header-bg .mui-nav-custom {
	margin-right: -10px;
	margin-left: -10px;
	padding-right: 6px;
	padding-left: 6px;
	height: 44px;
	width: 44px;
	line-height: 44px;
}

.header-bg img {
	height: 32px;
	width: 32px;
	vertical-align: middle;
}

.mui-cell-icon {
	padding-right: 20px;
}

.mui-cell-icon img {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.mui-submit {
	margin: 30px 0 0;
}

.mui-submit button {
	width: 90%;
	height: 46px;
	left: 50%;
	-webkit-transform: translate(-50%);
}

.mui-des-title {
	padding: 15px 15px 7px;
	font-size: 15px;
}

.content-top {
	margin-top: 44px;
}

.item-border-bottom {
	width: 100%;
	height: 1px;
	display: block;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #E3E3E3;
}

.item-border-bottom-DDDDDD {
	width: 100%;
	height: 1px;
	display: block;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #DDDDDD;
}

.item-border-bottom-E3E3E3 {
	width: 100%;
	height: 1px;
	display: block;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #E3E3E3;
}

.item-border-bottom-DDDDDD-50 {
	width: 3.19rem;
	height: 1px;
	float: left;
	display: block;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #DDDDDD;
}

.item-border-left {
	width: 1px;
	height: 100%;
	display: block;
	float: left;
	content: '';
	-webkit-transform: scaleX(.5);
	transform: scaleX(.5);
	background-color: #E3E3E3;
}

.mui-scroll-wrapper {
	background: #F5F5F5 !important;
}

.mui-index-quote-E3E3E3 {
	width: 100%;
	height: 0.2rem;
	background: #F5F5F5;
}

.mui-index-quote {
	width: 100%;
	height: 0.2rem;
	background: #F5F5F5;
}

.mui-index-quote:before {
	width: 100%;
	height: 1px;
	display: block;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #DDDDDD;
}

.mui-index-quote:after {
	width: 100%;
	height: 1px;
	display: block;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #DDDDDD;
	margin-top: .16rem;
}

.mui-index-quote-E3E3E3:before {
	width: 100%;
	height: 1px;
	display: block;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	/*background-color: #E3E3E3;*/
}

.mui-index-quote-E3E3E3:after {
	width: 100%;
	height: 1px;
	display: block;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	/*background-color: #E3E3E3;*/
	margin-top: .16rem;
}

.fontWeight {
	font-weight: 600;
}

.mui-index-quote-FAFAFA:before {
	width: 100%;
	height: 1px;
	display: block;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #FAFAFA;
}
.none_car {
	width: 100%;
	text-align: center;
}

.none_car img {
	width: 2rem !important;
	height: 2rem !important;
	margin: 1.4rem 0 .3rem 0;
}

.none_car-img {
	width: 100%;
	text-align: center;
	background: #FFFFFF;
}

.none_car-img img {
	width: 1.1rem !important;
	height: 1.1rem !important;
	margin: 0.5rem 0 .1rem 0;
}

.none_car-img p {
	padding: 0 !important;
	margin: 0 !important;
	line-height: 150%;
}
